body {
    background-color: blueviolet;
    text-align: center;
}

#ing {
    color:lightgoldenrodyellow;
    background-color: grey;
}

img {
    height: 500px;
    width: auto;
}

.steps {
    text-align: left;
}

h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:brown;
}